<div class="contenedor">
  <div class="formulario">
    <app-product-form></app-product-form>

  </div>
  <div class="listado">
    <div *ngFor="let item of productos">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h2>{{item.name}}</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p [ngStyle]="{'color':'green','font-size.em':'1.2'}" >{{item.description}}</p>
          <h3>Price: <span
             [ngStyle]="setMyStyles(item)">{{item.price}}€</span></h3>
             <span *ngIf="item.price>50" [style.color]="item.price>100 ?'red':'blue'">Envio Gratis</span>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-stroked-button color="primary"	 mat-button (click)=onedit(item)>edit</button>
          <button mat-stroked-button	color="warn" mat-button (click)=ondelete(item)>delete</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>