.contenedor {
    margin-top: 20px;
    display:flex;  
    justify-content: center; 
    width: 90%;
}
.listado {
    display:flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
}
mat-card{
    width: 350px;
    background-color: primary;
    margin: 20px;
    height: 4ß0px;
}
.formulario{
   width: 20%;
    justify-items: center;
    margin-left: auto;
}
.mat-card-image{
    max-height: 350px;
}